extends layout

block content
    if data
        p #{data['year']}年#{data['month']}月#{data['day']}日
        if data['income']
            p #{data['payment']}円の収入がありました。
        else
            p #{data['payment']}円の支出がありました。
        a(href='/inputForm') 入力ページに戻る

    else
        form(method='POST' action='inputForm/confirm')
            input(type='date' name='date' value=today) 
            input(type='number' name='payment' required) 
            | 円
            input(type='radio' name='balance' value='income' checked='true') 
            | 収入
            input(type='radio' name='balance' value='spending') 
            | 支出
            input(type='submit' name='送信')
    
    p
        a(href='/') トップページに戻る